<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Qoutes</title>
    <%- include('header_links') %>
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="/">Hệ CSDL-DPT</a>
        <a class="btn btn-warning" href="/add-more">Add more</a>
      </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Find qoutes by image!</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <input type="text" class="form-control form-control-lg" name="inputImage" id="inputImage" placeholder="Enter image url...">
                </div>
                <div class="col-12 col-md-3">
                  <button type="button" class="btn btn-block btn-lg btn-primary" onclick="findImage()">Go!</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>
    <!-- Icons Grid -->
      <div class="container-fluid" id="show_result">
        <div class="row">
          <div class="col-md-12">
            <h2 id="result_title"></h2>
          </div>
          <div class="row" id="result_append">
          </div>
          <div class="row" id="details_area">
            <div class="col-md-12" style="text-align:center">
                <h2 id="result_title_details"></h>
            </div>
            <div class="col-md-4">
              <div class="col-md-12 anh_goc">
                  <div class="col-md-12"><h3 id="anh_goc_title"></h3></div>
                  <div class="col-md-12" id="show_anh_goc">
                    
                  </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="col-md-12 anh_goc">
                <div class="col-md-12" style="text-align:center"><h3 id="string_from_img"></h3></div>
                <div class="col-md-8">
                    <h6 id="chuoi_goc"></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-------------------->
  </body>
  <%- include('footer') %>
</html>
