#show_result{
    margin-top: 5vh;
    text-align: center;
    margin-bottom: 5vh;
}
.img_result{
    margin-top: 5vh;
    min-height: 30vh;
    max-height: 30vh;
    margin-bottom: 5vh;
}
.anh_goc{
    margin: 5vh;
    text-align: center;
}

#details_area{
    margin-top: 15vh;
}